@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
 box-sizing: border-box;
 margin: 0;
 border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
 display: block;
}

ol,
ul {
 list-style: none;
}

html {
 font-size: 1.125rem;
}

img {
 max-width: 100%;
}

body {
 font-family: "Public Sans", sans-serif;
 font-optical-sizing: auto;
 @apply bg-slate-200;
}

/* color mix for button */
.cta {
 @apply rounded-full px-8 py-2 text-white;
 background: rgb(49, 211, 92);
 background: linear-gradient(
  90deg,
  rgba(49, 211, 92, 1) 0%,
  rgba(43, 183, 218, 1) 100%
 );
}

/* navbar styling */
#hamburger-icon.open {
 opacity: 0;
 transform: translateX(-100%);
 transition: opacity 0.3s ease, transform 0.3s ease;
}

#hamburger-icon.close {
 opacity: 1;
 transform: translateX(0%);
 transition: opacity 0.3s ease, transform 0.3s ease;
}
