---
import Header from "../components/Header.astro";
---

<html lang="en">
 <head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/logo.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
   href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
   rel="stylesheet"
  />
  <title>Easybank</title>
 </head>
 <body>
  <div id="app-container" class="max-w-7xl mx-auto">
   <Header />
   <h1>Astro</h1>
  </div>
 </body>
</html>
