---
import Navigation from "./react/Navigation";
---

<header class="py-4 bg-white border-b-[1px] border-b-gray-400 font-light">
 <div id="header-container" class="flex max-w-7xl mx-auto items-center">
  <img src="/logo.svg" loading="eager" alt="Easy bank Logo" />
  <Navigation client:load />
 </div>
</header>

<style>
 #header-container {
  width: min(80%, 100%);
 }
</style>
