<section
 class="relative flex md:flex-row items-center justify-center flex-col-reverse -z-30 bg-white pb-16"
>
 <div id="hero-text" class="mx-auto text-center space-y-4">
  <h1 class="mx-auto md:w-full text-3xl md:text-5xl text-dark-blue font-normal">
   Next generation digital banking
  </h1>
  <p class="text-greyish-blue text-xs md:text-base w-full">
   Take your financial life online. Your Easybank account will be a
   one-stop-shop for spending, saving, budgeting, investing, and much more.
  </p>
  <button class="cta text-xs md:text-base">Request invite</button>
 </div>

 <div id="hero-images" class="relative">
  <picture class="relative -z-20">
   <source srcset="/images/bg-intro-desktop.svg" media="(min-width: 760px)" />
   <img
    src="/images/bg-intro-mobile.svg"
    class="-translate-y-9 -mb-12"
    alt="image of easy banking app."
   />
  </picture>
  <div id="hero-images-app" class="absolute -z-10 -top-[116px]">
   <img src="/images/image-mockups.png" alt="image of easy banking app." />
  </div>
 </div>
</section>

<style></style>
