---
import "../styles/globals.css";
---

<nav class="flex-1 flex justify-between">
 <ul class="hidden md:flex flex-col md:flex-row items-center mx-auto gap-8">
  <li><a href="/">Home</a></li>
  <li><a href="/">About</a></li>
  <li><a href="/">Contact</a></li>
  <li><a href="/">Blog</a></li>
  <li><a href="/">Careers</a></li>
 </ul>

 <button class="hidden md:block cta">Request Invite</button>
</nav>
